html {
  height: 100%;
  position: relative;
  background-color: #000;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
}

.react-multi-carousel-track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-multi-carousel-item {
  text-align: center;
}
